
Assignment 2/exec
.DS_Store
Assignment 3/btree.c
.gitignore
.DS_Store
Assignment 3/exec
Assignment 3/input.txt
Assignment 3/input2.txt
.gitignore
Assignment 3/main.c
Assignment 4/main
Assignment 4/exec
Assignment 3/.vscode/
.gitignore
Assignment 4/.vscode/
Assignment 4/data.csv
